
.text-body {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.9);
}
.button-container {
    gap: 0.5rem!important;
    margin-bottom: 3rem!important;
    display: inline-flex!important;
}


.btn-primary {   
    width: 240px;
    height: 50px;
    border-radius: 50px;
    text-decoration: none;    
    /* color: #fff; */
    outline: none;
    border: 0.5px solid #d9e8ff;
   
    background: linear-gradient(rgba(87, 112, 148, 0.5), rgba(147, 169, 202,.5) 48%, rgba(175, 187, 206,.5)  52%, rgba(81, 106, 143, 0.5));
   
    cursor: pointer;
    font-size: 1rem;
}
.btn-primary:hover {
    box-shadow: inset 0 -1px 1px rgba(249, 250, 250, 0.3), inset 0 1px 2px rgba(197, 206, 212, 0.4), inset 0 0 0 60px rgba(217, 227, 231, 0.5);
}
.btn-secondary:hover {
    box-shadow: inset 0 -1px 1px rgba(249, 250, 250, 0.3), inset 0 1px 2px rgba(197, 206, 212, 0.4), inset 0 0 0 60px rgba(217, 227, 231, 0.5);
}
.btn-secondary {   
    width: 240px;
    height: 50px;
    border-radius: 50px;
    text-decoration: none;    
    color: #3b3c3d;
    outline: none;
    border: 0.5px solid rgb(114, 115, 117);
   
    background: linear-gradient(rgba(163, 164, 167, 0.5), rgba(235, 236, 238, 0.5) 48%, rgba(241, 242, 245, 0.5)  52%, rgba(215, 215, 216, 0.5));
   
    cursor: pointer;
    font-size: 1rem;
}

