@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
.container{
    max-width: 720px;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/* серый квадрат */
.gray-square{    
    background-color: rgba(211, 212, 214, 0.5);
    padding: 3rem;
    text-align: center;
}

*, ::after, ::before {
    box-sizing: border-box;
}