<h1>
    Новый продукт    
</h1>
<form action="<%= `addNewProduct` %>" method="post" class="product-edit-form">

<!--контент формы-->

    <div class="product-edit-fields">

        <div class="field">
            <label for="item-title">Title:</label>
            <input id="item-title" type="text" name="title" value="" placeholder="Название" />
        </div>

        <div class="field">
            <label for="item-description">Description:</label>
            <textarea id="item-description" rows="3" name="description" placeholder="Описание"></textarea>
        </div>

        <div class="field">
            <label for="item-price">Price:</label>
            <input id="item-price" type="text" name="price" value="" />
        </div>

        <div class="field">
            <label for="item-new-images">New images URLs (use line break or a comma):</label>
            <textarea id="item-new-images" rows="3" name="newImages"></textarea>
        </div>
    </div>
   
    <div class="product-edit-footer">
        <button class="save_button" type="submit">Save changes</button>        
    </div>
    
</form>