

.close-image-wrapper {
    display: inline-block;
    margin: 10px;
    width: 220px;
    height: 236px;
}

.close-image-wrapper img {
    max-width: 100%;
    width: 150px;
}

.close-title {
    display: block;
    color: inherit;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 600;
}

.close-label {
    font-weight: 600;
}
